include mixins/_flash

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/dist/styles.css")
    link(rel="shortcut icon", type="image/png", href="/images/icons/favicon.png")
    script(defer, src="https://use.fontawesome.com/releases/v5.0.10/js/all.js", integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+", crossorigin="anonymous")
    title= `${title} | ${siteName}`
  body
    block header
      nav.navbar.is-light
        .navbar-brand
          a.navbar-item(href="/")
            img(src="/images/icons/logo.png", alt="Voting App")
          .navbar-burger.burger(data-target="navMenu")
            span
            span
            span
        #navMenu.navbar-menu
          .navbar-start
            a.navbar-item(href="/")
              span Home
            a.navbar-item(href="/poll")
              span Polls
          .navbar-end
            if user
              .navbar-item.has-dropdown.is-hoverable
                a.navbar-link(href="/profile")
                  | #{user.name}
                .navbar-dropdown.is-boxed
                  a.navbar-item(href="/profile")
                    | Profile
                  a.navbar-item(href= `/poll`)
                    | All Polls
                  a.navbar-item(href= `/poll/user/${user.hashid}`)
                    | User Polls
                  hr.navbar-divider
                  a.navbar-item(href="/poll/new")
                    | New Poll
              .navbar-item
                .field
                  p.control
                    form(action="/logout", method="POST")
                      input(type="hidden", name="_csrf", value=csrfToken)
                      button.button.is-primary
                        span.icon
                          span.fas.fa-sign-out-alt(aria-hidden="true")
                        span Logout
            else
              a.navbar-item(href="/register")
                span Register
              .navbar-item
                .field
                  p.control
                    a.button.is-primary(href="/login")
                      span.icon
                        i.fas.fa-sign-in-alt(aria-hidden="true")
                      span Login
    - const categories = Object.keys(flashes);
    if currentPath !== '/' && categories.length
      block messages
        .section
          +flash(categories)
    main.main
      block content
        p This should not be visible!
    footer.footer
      .columns.is-centered
        .column.is-narrow
          .tabs.is-centered
            ul
              li
                a.link.level-item.has-text-right(href="/terms")
                  span.icon.is-small
                    span.fas.fa-file-alt(aria-hidden='true')
                  span Terms of Service
              li
                a.link.level-item.has-text-right(href="/privacy")
                  span.icon.is-small
                    span.fas.fa-user-secret(aria-hidden='true')
                  span Privacy Policy
        .column.is-narrow
          .tabs.is-centered
            ul
              li
                a.link.level-item.has-text-right(href="https://twitter.com/Implaier")
                  span.icon.is-small
                    span.fab.fa-twitter(aria-hidden='true')
                  span Twitter
              li
                a.link.level-item.has-text-right(href="https://github.com/azdanov/voting-app-node")
                  span.icon.is-small
                    span.fab.fa-github(aria-hidden='true')
                  span Github
      .columns.is-centered
        .column
          p.has-text-centered Voting App 2018
    block scripts
      script(src="/dist/client.js")
