extends _layout

mixin loginField(label, type, placeholder, name, icon)
  .field
    label.label= label
      .control.has-icons-left
        input.input(type=type, placeholder=placeholder, name=name, value=values && values[type], required)
        span.icon.is-small.is-left
          i.fas(class=icon)

block content
  .section
    .container
      h1.title.has-text-centered Login
      .columns
        .column.is-half.is-offset-one-quarter.is-clearfix
          form(action="/login", method="POST")
            - const { values } = form;
            input(type="hidden", name="_csrf", value=csrfToken)
            +loginField('Email', 'email', 'Email', 'email', 'fa-at')
            +loginField('Password', 'password', 'Password', 'password', 'fa-key')
            hr
            .field.is-grouped.is-pulled-right
              .control
                a.button.is-text(href="/register") Register
              .control
                input.button.is-primary(type="submit", value="Login")
