extends _layout

mixin loginField(label, type, placeholder, name, icon)
  .field
    label.label= label
      .control.has-icons-left
        input.input(type=type, placeholder=placeholder, name=name, value=values && values[type], required)
        span.icon.is-small.is-left
          i.fas(class=icon)
        p.help A message with a password reset link will be sent.

block content
  .section
    .container
      h1.title.has-text-centered Request Password
      .columns
        .column.is-half.is-offset-one-quarter.is-clearfix
          form(action="/password/request", method="POST")
            - const { values } = form;
            input(type="hidden", name="_csrf", value=csrfToken)
            +loginField('Email', 'email', 'Email', 'email', 'fa-at')
            hr
            .field.is-pulled-right
              .control
                input.button.is-primary(type="submit", value="Send Email")
