extends _layout

mixin field(label, type, placeholder, name, icon)
  .field
    label.label= label
      .control.has-icons-left
        - const warning = warnings && warnings[name]
        input.input(type=type, placeholder=placeholder, name=name)
        span.icon.is-small.is-left
          i.fas(class=icon)
      if warning
        p.help.is-danger= warning

block content
  .section
    h1.title.has-text-centered Reset Password
    .columns
      .column.is-half.is-offset-one-quarter.is-clearfix
        form(action= `/password/reset`, method="post")
          - const { warnings } = form;
          input(type="hidden", name="_csrf", value=csrfToken)
          input(type="hidden", name="token", value=token)
          +field("New Password", "password", "New Password", "password", "fa-key")
          +field("Repeat password", "password", "Repeat password", "passwordRepeat", "fa-key")
          hr
          .field.is-grouped.is-pulled-right
            .control
              input.button.is-text(type="reset", value="Clear")
            .control
              input.button.is-primary(type="submit", value="Submit")
