mixin field(label, type, placeholder, name, icon)
  .field
    label.label= label
      .control.has-icons-left
        - const value = values && values[name]
        - const warning = warnings && warnings[name]
        input.input(type=type, placeholder=placeholder, name=name, value=value, class=h.chooseClass(warnings, values, name), required)
        span.icon.is-small.is-left
          i.fas(class=icon)
      if warning
        p.help.is-danger= warning
